<div class="card" *ngIf="!loading; else loadingTemplate">
    <p-table
      [value]="unlockedProyects"
      [frozenValue]="lockedProyects"
      [scrollable]="true"
      scrollHeight="400px"
      [tableStyle]="{ 'min-width': '60rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Nombre del archivo</th>
          <th>Tamaño</th>
          <th>Ultima Modificación</th>
          <th style="width: 5rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="frozenbody" let-proyect let-index="rowIndex">
        <tr class="font-bold">
          <td>{{ proyect.id }}</td>
          <td>{{ proyect.filename }}</td>
          <td>{{ proyect.size }}</td>
          <td>{{ proyect.sheetid }}</td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-lock-open"
              (click)="toggleLock(proyect, true, index)"
              size="small"
              text
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-proyect let-index="rowIndex">
        <tr>
          <td>{{ proyect.id }}</td>
          <td>{{ proyect.filename }}</td>
          <td>{{ proyect.size }}</td>
          <td>{{ proyect.sheetid }}</td>
          <td>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-lock"
              [disabled]="lockedProyects.length >= 2"
              (click)="toggleLock(proyect, false, index)"
              size="small"
              text
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
  <ng-template #loadingTemplate>
    <p>Loading projects...</p>
  </ng-template>