/* Estilos para el contenedor principal */
.dashboard-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

/* Estilo para el título del dashboard alineado a la izquierda */
.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  color: #333333;
}

/* Estilos para el contenido del dashboard */
.dashboard-content {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
}

/* Estilos para la tarjeta del dashboard */
.dashboard-card {
  width: 350px;
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 16px; /* Esquinas redondeadas más pronunciadas */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */

  /* Elimina el borde predeterminado si existe */
  border: none;
}

/* Estilo para el encabezado de la tarjeta */
mat-card-header {
  align-items: center;
}

/* Estilo para el ícono de la tarjeta */
.dashboard-icon {
  background-color: #007BFF; /* Color de fondo del ícono */
  border-radius: 50%;
  color: #ffffff; /* Color del ícono */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

/* Estilo para el ícono */
.dashboard-icon mat-icon {
  font-size: 24px;
}

/* Estilo para el título de la tarjeta */
mat-card-title {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin-left: 16px;
}

/* Estilo para el número de pedidos pendientes */
.pending-orders-count {
  font-size: 64px;
  font-weight: bold;
  color: #007BFF; /* Puedes cambiar el color según tu preferencia */
  margin: 20px 0 0;
  text-align: center;
}

/* Opcional: Ajustes para dispositivos móviles */
@media (max-width: 600px) {
  .dashboard-card {
    width: 90%;
  }

  .pending-orders-count {
    font-size: 48px;
  }
}