<div class="dashboard-container">
  <h2 class="dashboard-title">Dashboard</h2>
  <div class="dashboard-content">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <a mat-card-avatar class="dashboard-icon" [routerLink]="'/orders'">
          <fa-icon [icon]="['fas', 'clipboard-list']" class="icon"></fa-icon>
        </a>
        <mat-card-title>Número de Pedidos Pendientes</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="pending-orders-count">{{ pendingOrders }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
