<nav>
  <div class="left-section">
    <button (click)="toggleSidebar()" class="menu-button">
      <div class="burger-icon"></div>
    </button>
    <div class="navbar-brand">Proyectos - {{ activeSheetId }}</div>
  </div>
  <div class="user-menu">
    <button class="user-name" [class.open]="menuOpen" (click)="toggleMenu($event)">
      <span class="user-initials">{{ getUserInitials() }}</span>
      <span class="user-fullname">{{ userName }}</span>
      <span class="arrow">&#9662;</span>
    </button>
    <div class="dropdown-menu" [class.show]="menuOpen">
      <button class="btn-logout" (click)="logout()">
        <span class="logout-icon">&#10142;</span> Salir
      </button>
    </div>
  </div>
</nav>