nav {
  background-color: #fff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #eaeaea;
  justify-content: space-between; // Asegura que los elementos se distribuyan entre los extremos
}

.left-section {
  display: flex;
  align-items: center;

  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: 40px; // Espacio entre el botón y "Proyectos"

    .burger-icon {
      width: 24px;
      height: 2px;
      background-color: #333;
      position: relative;
      transition: all 0.3s ease;

      &::before,
      &::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color: #333;
        position: absolute;
        left: 0;
        transition: all 0.3s ease;
      }

      &::before {
        top: -8px;
      }

      &::after {
        top: 8px;
      }
    }

    &:hover .burger-icon,
    &:hover .burger-icon::before,
    &:hover .burger-icon::after {
      background-color: #555;
    }
  }

  .navbar-brand {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

.user-menu {
  position: relative;
  display: flex;
  align-items: center;

  .user-name {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #333;
    padding: 0;

    .user-initials {
      background-color: #333;
      color: #fff;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      margin-right: 10px;
    }

    .user-fullname {
      font-size: 14px;
      font-weight: 400;
      margin-right: 5px;
    }

    .arrow {
      font-size: 12px;
      color: #333;
      transition: transform 0.3s ease;
    }

    &.open .arrow {
      transform: rotate(180deg);
    }
  }

  .dropdown-menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    display: none;
    z-index: 1000;
    min-width: 150px;

    &.show {
      display: block;
    }
  }

  .btn-logout {
    font-size: 14px;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    background-color: transparent;
    color: #333;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background-color: #f5f5f5;
    }

    .logout-icon {
      margin-right: 10px;
      font-size: 16px;
    }
  }
}