.table-container {
  position: relative; // Para asegurar que los elementos posicionados absolutamente estén dentro de este contenedor
}

.add-user-btn {
  height: 50px; // Altura del botón
  border-radius: 25px; // Bordes redondeados
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px; // Espacio alrededor del texto
  position: absolute;
  right: 20px;
  top: 5px;
  background-color: black; // Fondo negro
  color: white; // Color del texto
  border: none; // Eliminar borde
  font-size: 16px; // Tamaño del texto
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombra suave

  &:hover {
    background-color: #333; // Fondo negro más oscuro en hover
  }
}

.search-and-select {
  display: flex;
  justify-content: space-between; // Espacio entre los elementos, uno a la izquierda y el otro a la derecha
  align-items: center;
  margin-bottom: 1rem; // Ajusta el espacio entre la búsqueda y la tabla
}

.search-field {
  width: 350px; // Tamaño fijo para el buscador
  margin-right: 10px; // Espacio entre el buscador y el selector
  flex-shrink: 0; // Evita que el campo de búsqueda se encoja
}

.column-selector {
  width: 190px; // Tamaño fijo para el selector
  margin-left: 10px; // Espacio entre los campos
  flex-shrink: 0; // Evita que el selector de columnas se encoja
}

@media (max-width: 600px) {
  .table-container {
    padding: 10px; // Reduce el padding para pantallas pequeñas
  }

  .add-user-btn {
    height: 40px;
    right: 10px;
    top: 10px;
    font-size: 14px;
    padding: 0 15px; // Ajusta el padding para pantallas pequeñas
  }

  .search-and-select {
    flex-direction: column; // Cambia a columna para pantallas pequeñas
    align-items: stretch; // Asegura que los elementos ocupen todo el ancho
  }

  .search-field,
  .column-selector {
    width: 100%; // Ocupa todo el ancho disponible
    margin: 5px 0; // Espacio entre los elementos
  }

  table {
    display: block; // Permite el desplazamiento horizontal
    overflow-x: auto;
  }

  th,
  td {
    white-space: nowrap; // Evita que el texto se rompa en varias líneas
  }
}