<div class="header-container">
  <h2 class="project-title">Usuarios</h2>
  <button (click)="showDialog()" class="btn create-button">+ Nuevo Usuario</button>
</div>

<div class="card">
  <div class="card-body">
    <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }" class="custom-dialog">
      <ng-template pTemplate="header">
        <div class="header-content">
          <span class="font-bold username">Nuevo Usuario</span>
        </div>
      </ng-template>
      <span class="description">Ingresa la información</span>
      <div class="form-field">
        <label for="username" class="label">Nombre de Usuario</label>
        <input pInputText id="username" class="input" [(ngModel)]="user.Nombre" autocomplete="off" />
      </div>
      <div class="form-field">
        <label for="rol" class="label">Rol</label>
        <p-select [options]="rols" [(ngModel)]="user.Rol" placeholder="Seleccionar un Rol" class="w-full md:w-56" />
      </div>
      <div class="form-field">
        <label for="password" class="label">Password</label>
        <p-password [(ngModel)]="user.Password" [toggleMask]="true" inputId="password"></p-password>
      </div>
      <ng-template pTemplate="footer">
        <div class="footer-actions">
          <p-button label="Cancelar" [text]="true" severity="secondary" (click)="cancel()"></p-button>
          <p-button label="Guardar" [outlined]="true" severity="secondary" (click)="save()"></p-button>
        </div>
      </ng-template>
    </p-dialog>

    <p-toast></p-toast>

    <p-table #dt3 [value]="users" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
      [paginator]="true" stripedRows [tableStyle]="{ 'min-width': '75rem' }" [globalFilterFields]="[
        'id',
        'Nombre',
        'Rol',
        'Password'
      ]">
      <ng-template #caption>
        <div class="flex">
          <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Buscar" />
          </p-iconfield>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th pSortableColumn="id" style="width: 22%">
            ID <p-sortIcon field="id" />
          </th>
          <th pSortableColumn="Nombre" style="width: 22%">
            Nombre <p-sortIcon field="Nombre" />
          </th>
          <th pSortableColumn="Rol" style="width: 22%">
            Rol <p-sortIcon field="Rol" />
          </th>
          <th pSortableColumn="Password" style="width: 22%">
            Password <p-sortIcon field="Password" />
          </th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="id" ariaLabel="Filter Name"
              (input)="applyColumnFilter($event, 'id')"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="Nombre" ariaLabel="Filter Country"
              (input)="applyColumnFilter($event, 'Nombre')"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="Rol" ariaLabel="Filter Country"
              (input)="applyColumnFilter($event, 'Rol')"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="Password" ariaLabel="Filter Country"
              (input)="applyColumnFilter($event, 'Password')"></p-columnFilter>
          </th>
        </tr>
      </ng-template>
      <ng-template #body let-users>
        <tr>
          <td>
            {{ users.id }}
          </td>
          <td>
            {{ users.Nombre }}
          </td>
          <td>
            {{ users.Rol }}
          </td>
          <td>
            {{ users.Password }}
          </td>
        </tr>
      </ng-template>
      <ng-template #emptymessage>
        <tr>
          <td colspan="8">No se encontraron registros.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>