<div class="container-fluid mt-4">
    <div class="header">
      <h1>ENTREGAS</h1>
      <button class="gestionar-button" (click)="toggleStepper()">+ Gestionar</button>
    </div>
  
    <!-- Conditionally display the form container -->
    <div class="form-container" *ngIf="showStepper">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Información del Material</ng-template>
            <div class="form-row">
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Material</mat-label>
                  <mat-select formControlName="material">
                    <mat-option *ngFor="let material of materials" [value]="material.value">
                      {{ material.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="firstFormGroup.get('material')?.hasError('required')">
                    El material es requerido
                  </mat-error>
                </mat-form-field>
              </div>
  
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Cantidad</mat-label>
                  <input matInput formControlName="cantidad" type="number" min="1" />
                  <mat-error *ngIf="firstFormGroup.get('cantidad')?.hasError('required')">
                    La cantidad es requerida
                  </mat-error>
                  <mat-error *ngIf="firstFormGroup.get('cantidad')?.hasError('min')">
                    La cantidad debe ser mayor a cero
                  </mat-error>
                </mat-form-field>
              </div>
  
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Observación</mat-label>
                  <input matInput formControlName="observacion" />
                </mat-form-field>
              </div>
            </div>
  
            <div class="button-container">
              <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Siguiente</button>
            </div>
          </form>
        </mat-step>
  
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Información Adicional</ng-template>
            <div class="form-row">
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Fecha Solicitada</mat-label>
                  <input matInput formControlName="fechaSolicitada" [matDatepicker]="picker" />
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="secondFormGroup.get('fechaSolicitada')?.hasError('required')">
                    La fecha es requerida
                  </mat-error>
                </mat-form-field>
              </div>
  
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Paquete de Trabajo</mat-label>
                  <input matInput formControlName="paqueteTrabajo" />
                  <mat-error *ngIf="secondFormGroup.get('paqueteTrabajo')?.hasError('required')">
                    El paquete de trabajo es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
  
            <div class="button-container">
              <button mat-button matStepperPrevious>Anterior</button>
              <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Siguiente</button>
            </div>
          </form>
        </mat-step>
  
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Asignación de Técnico</ng-template>
            <div class="form-row">
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label>Técnico Responsable</mat-label>
                  <mat-select formControlName="tecnico">
                    <mat-option *ngFor="let tecnico of tecnicos" [value]="tecnico.value">
                      {{ tecnico.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="thirdFormGroup.get('tecnico')?.hasError('required')">
                    El técnico es requerido
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
  
            <div class="button-container">
              <button mat-button matStepperPrevious>Anterior</button>
              <button mat-button (click)="onSubmit()" [disabled]="thirdFormGroup.invalid">Finalizar</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  
    <div class="grid-container">
      <ag-grid-angular
        #myGrid
        style="width: 100%; height: 100%;"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowSelection]="rowSelection"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
        [enableCellTextSelection]="true"
      >
      </ag-grid-angular>
    </div>
  </div>