<br>
<h2 class="modal-title text-center">Agregar Usuario</h2>
<div class="modal-body">
  <form #usuarioForm="ngForm">
    <div class="form-group mb-3">
      <label for="nombre">Nombre de Usuario</label>
      <input type="text" id="nombre" class="form-control" [(ngModel)]="usuario.Nombre" name="nombre"
        placeholder="Ingrese el Nombre" required #nombre="ngModel" />
      <div *ngIf="nombre.invalid && nombre.touched" class="text-danger">
        El nombre de usuario es requerido.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="rol">Rol</label>
      <select id="rol" class="form-control" [(ngModel)]="usuario.Rol" name="rol" required #rol="ngModel">
        <option value="" disabled>Seleccione un Rol</option>
        <option value="Técnico">Técnico</option>
        <option value="Administrador">Administrador</option>
      </select>
      <div *ngIf="rol.invalid && rol.touched" class="text-danger">
        El rol es requerido.
      </div>
    </div>

    <div class="form-group mb-3">
      <label for="password">Contraseña</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="usuario.Password" name="password"
        placeholder="Ingrese la Contraseña" required #password="ngModel" />
      <div *ngIf="password.invalid && password.touched" class="text-danger">
        La contraseña es requerida.
      </div>
    </div>
  </form>
</div>

<div class="modal-footer d-flex justify-content-end">
  <button type="button" class="btn btn-secondary" (click)="close()">Cancelar
  </button>
  <button type="button" class="btn btn-primary" (click)="save()" [disabled]="usuarioForm.invalid">
    Guardar
  </button>
</div>