<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <div class="user-info">
      <!-- <button (click)="toggleSidebar()">☰</button> -->
      <span class="user-text" *ngIf="!isCollapsed">{{ userRol }}</span>
    </div>
  </div>
  
  <ul class="list-unstyled">
    <li>
      <a routerLink="/dashboard" class="sidebar-link">
        <i class="icon">🏠</i>
        <span class="link-text" *ngIf="!isCollapsed">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/settings" class="sidebar-link">
        <i class="icon">⚙️</i>
        <span class="link-text" *ngIf="!isCollapsed">Settings</span>
      </a>
    </li>
    <li>
      <a routerLink="/proyectos" class="sidebar-link">
        <i class="icon">🔖</i>
        <span class="link-text" *ngIf="!isCollapsed">Proyectos</span>
      </a>
    </li>
    <li>
      <a routerLink="/usuarios" class="sidebar-link">
        <i class="icon">👥</i>
        <span class="link-text" *ngIf="!isCollapsed">Usuarios</span>
      </a>
    </li>
    <li>
      <a routerLink="/materiales" class="sidebar-link">
        <i class="icon">📦</i>
        <span class="link-text" *ngIf="!isCollapsed">Materiales</span>
      </a>
    </li>
  </ul>
</aside>