.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #000;
  color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  transition: width 0.3s ease, transform 0.3s ease;
  
  &.collapsed {
    width: 80px;
    
    .link-text, .user-text {
      display: none;
    }
  }

  @media (max-width: 768px) {
    transform: translateX(-100%); // Oculta el sidebar en móviles
    &.collapsed {
      transform: translateX(0); // Muestra el sidebar cuando no está colapsado
    }
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
    .user-info {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;

      .user-icon {
        margin-right: 10px;
        font-size: 18px;
      }
    }

    button {
      background: none;
      border: none;
      color: #fff;
      font-size: 24px;
      cursor: pointer;
      transition: transform 0.2s ease;
      
      &:hover {
        transform: rotate(90deg);
      }
    }
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 20px 0;
    
    li {
      margin-bottom: 10px;
      
      a {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        border-radius: 6px;
        transition: all 0.3s ease;
        border: 1px solid transparent;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          border-color: rgba(255, 255, 255, 0.2);
        }

        &.active {
          background-color: rgba(255, 255, 255, 0.2);
          border-color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
}