.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #f0f0f0; // Fondo gris claro
  color: #333; // Texto gris oscuro
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); // Sombra suave
  padding-top: 20px;
  transition: width 0.3s ease, transform 0.3s ease;
  
  &.collapsed {
    width: 80px;
    
    .link-text, .user-text {
      display: none;
    }
  }

  @media (max-width: 768px) {
    transform: translateX(-100%); // Oculta el sidebar en móviles
    &.collapsed {
      transform: translateX(0); // Muestra el sidebar cuando no está colapsado
    }
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ccc; // Línea divisoria gris claro
    
    .user-info {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      color: #333; // Texto gris oscuro

      .icon {
        margin-right: 10px;
        font-size: 18px;
        color: #333; // Ícono gris oscuro
      }
    }
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 20px 0;
    
    li {
      margin-bottom: 10px;
      
      a {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        color: #333; // Texto gris oscuro
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        border-radius: 6px;
        transition: all 0.3s ease;
        border: 1px solid transparent;

        .icon {
          margin-right: 10px;
          font-size: 18px;
          color: #333; // Ícono gris oscuro
        }

        &:hover {
          background-color: #e0e0e0; // Fondo gris claro al pasar el mouse
          border-color: #ccc;
        }

        &.active {
          background-color: #d0d0d0; // Fondo gris medio al estar activo
          border-color: #bbb;
        }
      }
    }
  }
}